/*Main CSS code of Kami Finance*/

/*Primary colors used throughout site*/
body {
    --main-very-light: #ECF3E7;
    --main-light: #9EC383;
    --main-medium: #6A9849;
    --main-dark: #3A5328;
    --main-very-dark: #1C2C11;
}

/*To position footer and body without overlapping footer*/

.bulkbody{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    /* Container needed to position the overlay. Adjust the width as needed */
  video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5em;
    padding: 10px;
    margin: auto;
}
    

    /*Aligning header and text to images within body*/
    h2 {
        text-align: center;
        justify-content: center;
        padding-top: 40px;
    }  
    

    p {text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-block: 30px;
        max-width: 500px;
    }
    
        .content-wrapper::after {
            content:"";
            clear:both;
            display:flex;
            position: absolute;
        }
       
        #rounds {
             position: relative;
            z-index: 2;
        }

       /*Circular images used within body */
        round1 {
            margin-top: 50px;
            margin-bottom: 50px;
            margin-right: 100px;
            margin-left: 10px;
            float:right;
            clip-path:circle(50%);
            shape-outside: circle(20%); 
        }

        round2 {
            margin-top: 10px;
            margin-bottom: 50px;
            margin-right: 10px;
            margin-left: 100px;
            float:left;
            clip-path:circle(50%);
            shape-outside: circle(20%);
        } 

        round3 {
            margin-top: 10px;
            margin-bottom: 50px;
            margin-right: 100px;
            margin-left: 10px;
            float:right;
            clip-path:circle(50%);
            shape-outside: circle(20%); 
        }

/*placement of bamboo img to allow overlapping of other texts and imgs*/
    img[src*="bamboo5"] {
    position: absolute;
    z-index: 2;
    bottom: -38;
    width: 43.4%;
    opacity: .40;
    margin: 10px;
    }

.content-wrapper {
    position: relative;
    z-index: 3;
} 


    
    /*Social media icons within the footer*/
    social:img {
        background-color: none;
        border: none;
        color: var(--main-very-light);
        padding-right: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px  4px;
        cursor: pointer;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
      }

    social:hover{
        background-color: var(--main-medium)
    }