/*Main CSS code of Kami Finance*/

/*Primary colors used throughout site*/
body {
    --main-very-light: #ECF3E7;
    --main-light: #9EC383;
    --main-medium: #6A9849;
    --main-dark: #3A5328;
    --main-very-dark: #1C2C11;
}

body{
    background-color: var(--main-very-light);
    margin: 0px;
    padding: 0px;
}

/*********************************
* Heading
********************************/

header div{
    display: inline;
    padding-top: 15px;
}

div .text {
    float: left;
    padding-left: 10px;
}

div .logo{
    padding-left: 15px;
    float:left;
}

div .login{
    float:right;
    padding-right: 15px;
}

/*********************************
* Navigation Menu
**********************************/

nav{
    background-color: var(--main-medium);
    width: 100%;
    overflow: auto;
    
}

nav a{
    color: var(--main-very-light);
    text-decoration: none;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
}

nav a:hover{
    background-color: var(--main-dark);
    color: var(--main-very-light);
}


/*********************************
* Footer
*********************************/
#footer{
    color: var(--main-very-light);
    background-color: var(--main-very-dark);
    position: static;
    bottom: 0;
    width: 100%;
    margin: 0px;
}

/********************************
Buttons
********************************/

button {
    background-color: var(--main-medium);
    border: none;
    color: var(--main-very-light);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px;
  }


button:hover {
    background-color: var(--main-dark);
}


/***********************
   Forms 
***********************/
input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0 0 10px var(--main-very-dark)
}

form h2{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form { 
    display: inline-block; 
    text-align: center; 
    border-radius: 10px;
}

form *{
    font-family: 'Verdana';
    color: var(--main-very-dark);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.container {
    text-align: center;
}

#incorrectLogin{
    color :red;
}

