/*Main CSS code of Kami Finance*/

/*Primary colors used throughout site*/
body {
    --main-very-light: #ECF3E7;
    --main-light: #9EC383;
    --main-medium: #6A9849;
    --main-dark: #3A5328;
    --main-very-dark: #1C2C11;
}

body {
    background-color: var(--main-very-light);
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

/*********************************
* Heading
********************************/

header div {
    display: inline;
    padding-top: 15px;
}

div .text {
    float: left;
    padding-left: 10px;
}

div .logo {
    padding-left: 15px;
    float: left;
}

div .login {
    float: right;
    padding-right: 15px;
}

/*********************************
* Navigation Menu
**********************************/

nav {
    background-color: var(--main-medium);
    width: 100%;
    overflow: auto;

}

nav a {
    color: var(--main-very-light);
    text-decoration: none;
    float: left;
    width: 25%;
    text-align: center;
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
}

nav a:hover {
    background-color: var(--main-dark);
    color: var(--main-very-light);
}


/*********************************
* Footer
*********************************/
footer {
    color: var(--main-very-light);
    background-color: var(--main-very-dark);
    clear: both;
    position: relative;
    bottom: 0;
    min-height: 50px;
    /*width: 100%;
    margin: 0px;*/
}

#footernav {
    /*vertical-align: middle;*/
    text-align: center;
}

#footernav a {
    text-decoration: none;
    color: var(--main-light)
}

/********************************
Buttons
********************************/

button {
    background-color: var(--main-medium);
    border: none;
    color: var(--main-very-light);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 16px;
}


button:hover {
    background-color: var(--main-dark);
}



/***********************
   Forms 
***********************/
input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0 0 10px var(--main-very-dark)
}

form h2 {
    font-family: 'Verdana';
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

form * {
    font-family: 'Trebuchet MS';
    color: var(--main-very-dark);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.container {
    text-align: center;
}

#LoginMessage {
    color: red;
}

.buysellform{
    text-align: center;
    height: auto;
    box-shadow: none;
    display:block;
}

/**************
Styling for all pages
***************/
body h2 {
    font-family: 'Verdana';
}

/**************************8
  Account Value, Pillbox with Text
  ********************************/
#boxstyle {
    background-color: var(--main-very-light);
    border-radius: 25px;
    padding: 15px;
    width: 100%;
  }

/* Create container for each section */
.section-container {
    background-color: var(--main-very-dark);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
    color: var(--main-very-light);
}

/* Alternate background color for even sections */
.section-container:nth-of-type(even) {
    background-color: var(--main-light);
    color: var(--main-very-dark)
}

/* Style for h2 and p elements inside containers */
.section-container h2 {
    margin: 5px 0;
    font-family: "Verdana";
}

.section-container p {
    margin: 5px 0;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Trebuchet MS';
}

/***************************
Account Value Page
***************************/
.accountValue-wrapper {
    display: flex;
    gap: 20px;
    /* Space between elements */
    align-items: flex-start;
}

.stockDummyGraph {
    border-radius: 20px;
    margin-right: 15px;
    margin-top: 14px;
    width: 950px;
    height: auto;
    background-color: var(--main-light);
}
.stockDummyGraph h2 {
    margin: 15px 
}

.dropdown {
    float: right;
    padding:16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-very-light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
  }
  /*styling for content */
  .dropdown-content a{
    color: var(--main-very-dark);
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    font-family: Verdana;
  }

  .dropdown-content a:hover {
    background-color: var(--main-light);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/*** styling for UsernameDisplay */

#usernameDisplay {
    font-family: 'Verdana';
    margin: 10px left;
    padding: 20px;
}

/******************
  Contact Us page
******************/

.contactUsContainer {
    text-align: center;
}

select {
    border: 2px solid var(--main-very-light);
    background: var(--main-medium);
    padding: 10px;
    transition: 0.4s;
    width: 30%;
    border-radius: 15px;
    color: var(--main-very-light);
  }
  
  select:hover,
  select:focus {
    background: var(--main-dark);
  }

 option {
    color:var(--main-very-light);
 }

  .contactUsContainer form{
    width:50%
  }
  
  input[type=submit] {
    background: var(--main-medium);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--main-very-light);
    width: 40%;
    color: var(--main-very-light);
    margin-left: auto;
    margin-right:auto;
    box-shadow: none;
  }

  input[type=submit]:hover {
    background: var(--main-dark)
  }

  textarea {
    width:723px;
    height:118px;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--main-very-dark)
  }

  .thankYouBody{
    min-height: 57vh;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .linkSentContainer {
    text-align: center;
    min-height: 55vh;
    justify-content: center;
    }


/***************************
Products Page
***************************/

/*To position footer and body without overlapping footer*/

/*gallery*/

img.products {
  max-width: 100%;
  max-height: 100%;
}

.bulkbody-products {
        min-height: 100vh;
        display: column;
        flex-direction: column;
        margin: 50px;
    }
/*used to wrap text with imgs*/
    .container-products {
        position: relative;
    }

.content-wrapper-products::after {
            display: flex;
            align-items:center;
            justify-content: center
       }

/***************************
About Us Page
***************************/
/* Text content to fit around images*/

.outerbulk {
    margin: 10px;
    padding: 50px;
}
.bulkbody_about{
        min-height: 100vh;
        display: inline;
        flex-direction: column;
        margin: 100px;
    }

     h2 {
        text-align: center;
        justify-content: center;
        padding-top: 40px;
    }

    p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-block: 10px;
        max-width: 500px;
    }
    
    .content-wrapper-about::after {
            content:"";
            clear:both;
            display:flex;
       }

 /*Circular images used within body*/
        about1 {
            margin-top: 50px;
            margin-bottom: 50px;
            margin-right: 100px;
            margin-left: 10px;
            float:right;
            clip-path:circle(50%);
            shape-outside: circle(20%); 
        }

        about2 {
            margin-top: 10px;
            margin-bottom: 50px;
            margin-right: 10px;
            margin-left: 100px;
            float:left;
            clip-path:circle(50%);
            shape-outside: circle(20%);
        } 

        about3 {
            margin-top: 10px;
            margin-bottom: 50px;
            margin-right: 100px;
            margin-left: 10px;
            float:right;
            clip-path:circle(50%);
            shape-outside: circle(20%); 
        }

/********************8
* BuySell Button Container
**********************/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
}

.switch input {
    width: auto;
    height: auto;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-light);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-very-light);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--main-dark);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.buySell {
    position: absolute;
    left: 70px;
    top: 8px;
    font-weight: bold;
}

.container form {
    width: 400px;
    margin: 0 auto;
}

.container select,
.container input[type="number"] {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 5px;
}

.container input[type="submit"] {
    width: 200px;
    margin: 20px auto;
}

/*******************
* Display Transaction
*******************/

.transaction-result {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--main-light);
    border-radius: 10px;
    color: var(--main-very-dark);
}

.transaction-result p {
    margin: 5px 0;
}
